<library path="src">

	<!--
	<class name="My Plugin" type="rqt_mypkg.my_module.MyPlugin" base_class_type="rqt_gui_py::Plugin">
	-->

	<class name="Simple GUI Plugin" type="rqt_mypkg.their_module.SimpleGUI" base_class_type="rqt_gui_py::Plugin">

		<description>
			<!-- My tutorial Python GUI plugin to help learn how RQT works. -->
			The sample GUI that Maya et al. made for the capstone course.
		</description>
		<qtgui>
			<!-- Can do grouping here if we want... -->
			<!-- ... but we're not going to for now. -->

			<!--
			<label>My Plugin</label>
			-->
			
			<label>My Plugin</label>			
			<icon type="theme">system-help</icon>
			<statustip>
				Great UI make provide glory to HCR lab success!
			</statustip>
		</qtgui>
	</class>
</library>