# Files in home directory by default that we don't care about.
.ICEauthority
.Xauthority
.bash_history
.cache/
.config/
.dbus/
.dmrc
.gconf/
.gnome2/
.gtk-bookmarks
.local/
.mission-control/
.mozilla/
.nv/
.profile
.pulse-cookie
.pulse/
.xsession-errors
examples.desktop
Downloads/
Pictures/
Videos/

# Files I eventually added to home directory we don't want
.compiz-1/
.fonts/
.fontconfig
.gazebo/
.gnash/
.gnome/
.gstreamer-0.10/
.lesshst
.macromedia/
.matplotlib/
.pip/
.pki
.ros/
.rviz/
.ssh/
.ssr/
.thumbnails/
.xsession-errors.old
gui_vid_data/
rqt_rviz_ogre.log
temp/

# Here are some things I have on Robomackerel that I don't think I
# should keep here as part of the config, but could add later if
# needed. (Can always scp these if necessary.)
da/
data/

# This is where we'll install other software. Want them to
# be in separate git repos.
repos/

# ROS Catkin stuff
# http://answers.ros.org/question/10182/how-to-correctly-use-git-with-ros/
build/
# No pages online receommend ignore devel/, but maybe is good to ignore...
devel/
bin/
lib/
msg_gen/
srv_gen/

# ROS Rosbuild stuff
# Want to ignore the repos within (e.g. pr2_pbd)
rosbuild_ws/pr2_pbd/