# This directory is huge, and all backed up in
# - youtube (the four MP4s)
# - google plus photos / picasa / whatever (the photos)
icra2014_press/

# These aren't really necessary to be tracked.
wallpapers/